<section class="about" id="about">
  <div class="about-img">
    <img src="profile.jpg" alt="" />
  </div>

  <div class="about-content">
    <h2 class="heading">About<span>Me</span></h2>
    <h3>Fullstack Developer</h3>
    <p>
      Software developer with 2 years of experience in Java programming language
      and spring framework. Proficient in a wide range of frontend technologies
      including HTML, CSS, and Angular/React JS. As a back-end developer, I
      design and develop complex applications working with diverse development
      teams and cross-functional stakeholders throughout all phases of SDLC.
    </p>
    <a href="#" class="btn">Read More</a>
  </div>
</section>
