<section class="portfolio" id="portfolio">
  <h2 class="heading">Latest <span>Project</span></h2>
  <div class="portfolio-container">
    <div class="portfolio-box">
      <img src="portfolio1.jpg" alt="" />
      <div class="portfolio-layer">
        <h2>Easy Task Management Application</h2>
        <p>
          Easy Task Management application is used to maintain and remember the
          team-members to work on their assigned task. It is developed by
          angular with static test data and used ngmodel, services and events.
        </p>
        <p>
          <a href="localhost:4200"><i class="bx bx-link-external"></i></a>
        </p>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="portfolio2.jpg" alt="" />
      <div class="portfolio-layer">
        <h2>Easy Task Management Application</h2>
        <p>
          Easy Task Management application is used to maintain and remember the
          team-members to work on their assigned task. It is developed by
          angular with static test data and used ngmodel, services and events.
        </p>
        <p>
          <a href="#"><i class="bx bx-link-external"></i></a>
        </p>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="portfolio3.jpg" alt="" />
      <div class="portfolio-layer">
        <h2>Easy Task Management Application</h2>
        <p>
          Easy Task Management application is used to maintain and remember the
          team-members to work on their assigned task. It is developed by
          angular with static test data and used ngmodel, services and events.
        </p>
        <p>
          <a href="#"><i class="bx bx-link-external"></i></a>
        </p>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="portfolio4.jpg" alt="" />
      <div class="portfolio-layer">
        <h2>Easy Task Management Application</h2>
        <p>
          Easy Task Management application is used to maintain and remember the
          team-members to work on their assigned task. It is developed by
          angular with static test data and used ngmodel, services and events.
        </p>
        <p>
          <a href="#"><i class="bx bx-link-external"></i></a>
        </p>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="portfolio5.jpg" alt="" />
      <div class="portfolio-layer">
        <h2>Easy Task Management Application</h2>
        <p>
          Easy Task Management application is used to maintain and remember the
          team-members to work on their assigned task. It is developed by
          angular with static test data and used ngmodel, services and events.
        </p>
        <p>
          <a href="#"><i class="bx bx-link-external"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>
