<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>
    <div class="services-container">
      <div class="services-box">
        <i class="bx bx-code-alt"></i>
        <h3>Web Development</h3>
        <p>
          Swadhi is a seasoned Web Developer with over one year of experience
          in crafting dynamic and user-friendly websites. Specializing in
          HTML, CSS, Angular and React JS. Swadhi combines innovative design
          with functional coding to deliver exceptional digital experiences.
          With a strong background in Banking Sector and Product-based
          industry. she has successfully executed projects that enhance user
          engagement and business growth. Swadhi is passionate about
          leveraging the latest technologies to solve real-world problems and
          is continually seeking new challenges in the tech landscape.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>

      <div class="services-box">
        <i class="bx bxl-spring-boot"></i>
        <h3>Server-side(Backend) Development</h3>
        <p>
          As a dedicated Backend Developer, Swadhi harnesses the robust
          capabilities of Java and Spring Boot to engineer resilient and
          scalable server-side applications. With a keen focus on building
          efficient APIs and microservices, Swadhi excels in optimizing
          backend processes and integrating complex server infrastructures.
          Passionate about continuous learning, Swadhi stays at the forefront
          of backend technologies, ensuring seamless and dynamic solutions
          that drive business success.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>

      <div class="services-box">
        <i class="bx bxl-kubernetes"></i>
        <h3>Cloud-Native/container orchestration Development</h3>
        <p>
          Swadhi is an adept DevOps Engineer with a growing expertise in
          essential containerization and orchestration tools such as
          Kubernetes, Docker, and Marathon. At an intermediate level, Swadhi
          effectively utilizes PKS and PCF to enhance application deployment
          processes and manage scalable solutions in cloud environments.
          Committed to continuous improvement, Swadhi is adept at streamlining
          operations and fostering innovations in cloud-native development.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>
    </div>
  </section>
