<!-- home section design -->
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<section class="home" id="home">
  <div class="home-content">
    <h3>Hello, It's Me</h3>
    <h1>Swadhi S</h1>
    <h3>And I'm a <span>Fullstack Developer</span></h3>
    <p>
      Passionate Fullstack developer, dedicated to building robust and visually
      stunning web applications and Microservices. Seeking to leverage expertise
      in a dynamic team environment to deliver innovative solutions and drive
      business growth.
    </p>
    <div class="social-media">
      <a href="www.facebook.com"><i class="bx bxl-facebook"></i></a>
      <a href="#"><i class="bx bxl-twitter"></i></a>
      <a href="#"><i class="bx bxl-instagram"></i></a>
      <a href="#"><i class="bx bxl-linkedin"></i></a>
    </div>
    <a href="#" class="btn">Download CV</a>
  </div>
  <div class="home-img">
    <img src="profile.jpg" alt="" />
  </div>
</section>
